<head>
  <title>Small Projects</title>
</head>

<template name="mainLayout">
  <header><h1>Small Projects Manager</h1></header>

  {{> loginButtons}}

  <main>
    {{> Template.dynamic template=template}}
  </main>

</template>

<template name="homeRoute">
  {{#if currentUser}}
    <h2>Home</h2>
    {{> addProject}}
    {{> projectsList}}
  {{/if}}

</template>

<template name="projectRoute">
  {{#if currentUser}}
    <a href="/">Home</a>
    {{> projectTitle project}}
    {{> addTask}}
    {{> tasksList}}
  {{/if}}
</template>

<template name="projectTitle">
  {{#if isEditing}}
    <h2>Project: <input value="{{name}}" /> <button>done</button></h2>
  {{else}}
    <h2>Project: <a href="?editName=true">{{displayName name}}</a></h2>
  {{/if}}
</template>

<template name="addTask">
  <input placeholder="add task" />
</template>

<template name="tasksList">
  <ul>
    {{#each tasks}}
      {{> taskItem}}
    {{/each}}
  </ul>
  <h3>Done</h3>
  <ul>
    {{#each doneTasks}}
      {{> taskItem}}
    {{/each}}
  </ul>
</template>

<template name="taskItem">
  <li><label><input type="checkbox" {{isChecked}} />{{name}}</label></li>
</template>

<template name="addProject">
  <input placeholder="add project" />
</template>

<template name="projectsList">
  <ul>
    {{#each projects}}
      <li><a href="/project/{{_id}}">{{displayName name}}</a></li>
    {{/each}}
  </ul>

</template>
